body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)),
    rgba(0,0,0,0.3) url(./static/img/sassidimatera.jpg) no-repeat center center fixed;
    background-size: cover
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: -5%;
    /* background-color: aquamarine; */
}

.list-item {
    /* background-color: pink; */
    font-size: 1rem;
    color: #fff;
    padding: 12px;
}

.title{
    font-size: 2rem;
}

a {
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;

}

.last {
    padding-top: 3rem;
}